

@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}


.notifications{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    padding: 15px 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-hover);
    z-index: 10000;
    font-weight: 500;
    animation: slideIn 0.3s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}